Goal Management System/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/projectDemoServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/projectDemoServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="StoreRoles" nillable="true" type="tns:ArrayOfRoles" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Roles" nillable="true" type="tns:Roles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoles" nillable="true" type="tns:ArrayOfRoles" />
  <xs:complexType name="Roles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreGoals" nillable="true" type="tns:ArrayOfGoals" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Roles" nillable="true" type="tns:Roles" />
  <xs:complexType name="ArrayOfGoals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Goals" nillable="true" type="tns:Goals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoals" nillable="true" type="tns:ArrayOfGoals" />
  <xs:complexType name="Goals">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreToDo" nillable="true" type="tns:ArrayOfTo_Dos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Goals" nillable="true" type="tns:Goals" />
  <xs:complexType name="ArrayOfTo_Dos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="To_Dos" nillable="true" type="tns:To_Dos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTo_Dos" nillable="true" type="tns:ArrayOfTo_Dos" />
  <xs:complexType name="To_Dos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="To_Dos" nillable="true" type="tns:To_Dos" />
</xs:schema>